* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CCE2C2;
    font-family: "Poppins", sans-serif;
}

.display {
    display: flex;
}

main {
    max-width: 1440px;
    max-height: 1024px;
   
}

.main-container {
    width: 70%;
    height: 70%;

    margin: 30px auto;

}

.quiz-img {
    width: 160px;
}

.quiz-heading {
    display: flex;
    align-self: center;
    justify-content: space-between;

}

.question-number {
    background-color: #FEC33D;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
}

/* .question-number p {
    font-size: 20px;
    font-weight: 550;
} */

.question-number-section {
    align-items: center;
    justify-content: end;
}
.question-section{
    height: 85px;
    padding-left: 35px;
    background-color: #e2e9e1;
    font-weight: 600;
    border-radius: 5px;
}
.question-section p{
    margin-block: 30px;
}
.timer-section{
    align-items: center;
    justify-content: end;
    
}
.timer{
    background-color: #02A409;
    width: 75px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 550;
    color: #FFFFFF;
}
.options-section{
    /* height: 390px; */
    background-color: #e2e9e1;
    display: flex;
    padding: 35px 35px;
    flex-direction: column;
    gap: 20px;
}
.options{
    border: 2px solid rgb(215, 213, 213);
    border-radius: 5px;
    padding: 15px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.options p{
    font-weight: 600;
}
.options img{
    width: 25px;
}
.right-wring-img{
    display: flex;
    gap: 15px;
}
.wrong{
    display: block;
}
.correct{
    display: none;
}
.wrong-selection{
display: none;
}
.right-selection{
display: block;
}
.next{
    font-weight: 600;
    margin-top: 10px;
    color: #02A409;
    text-align: end;
}
.next p:hover{
border-bottom: 1px solid navy;
cursor: pointer;
display: inline-block;
}

@media (max-width:710px){
    .question-section{
        padding-left: 20px;
    }
    p,span{
        font-size: 13px;
    }
    .quiz-img {
        width: 130px;
    }
    .speaker{
        width: 30px;
    }
}