
:root{
    --background:#ffffff;
    --text-primary:#000;
    --button-bg:#000;
    --button-text:#fff;
}

[data-theme='dark']{
    --background:#000;
    --text-primary:#fff;
    --button-bg:#fff;
    --button-text:#000;
}

.themeSwitch{
    background-color: var(--background);
    transition: all 0.5s;
}
.themeSwitch h1{
    color: var(--text-primary);
}
.themeSwitch button{
    background-color: var(--button-bg);
    border: 1ps solid var(--button-bg);
    color: var(--button-text);
}