*{
    box-sizing: border-box;
}

body{
    --background-color: white;
    --text-color: black;
    --elements-color:white;
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-color);
   
}
body.dark{
    --background-color: hsl(207,26%,17%);
    --text-color: white;
    --elements-color:hsl(209,23%,22%);
    
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    font-weight: 800;
}
.header{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding-inline: 24px;
    background-color: var(--elements-color);

}
.header-content{ 
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
}
.theam-changer{
cursor: pointer;
}

main{
    padding: 24px;
}
.search-filter-container{
margin-top: 16px;
margin-bottom: 64px;
margin-left: 138px;
display: flex;
justify-content: space-between;
}
.search-container{
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    width: 100%;
    border-radius: 4px;
    padding-left: 18px;
    color: #999;
    overflow: hidden;
}

.search-container input{
    outline: none;
    border: 0;
    padding: 16px;
    width: 92%;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.filter-by-name{
    width: 150px;
    padding: 0 16px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: var(--elements-color);
    color: var(--text-color);
}
.countries-container{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 16px;
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}
.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 18px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-color: var(--elements-color);
}
.country-card:hover{
transform: scale(1.02);
box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
}
.country-card img{
    width: 100%;
   
}
.card-title{
    font-size: 24px;
    margin-block: 16px;
}
.card-text{
    padding-inline: 16px;
}
.card-text p{
    margin-block: 8px;
}

@media (max-width:768px){
    .title{
        font-size: 16px;
    }
    .header-content p{
font-size: 12px;
    }
}