#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card{
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.input-field{
  border-radius: 20px;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 25px;
  margin: 10px;
}
.btn{
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;

}