*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px gray;
    margin-bottom: 20px;

}
.main{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-inline: auto;
    gap: 16px;
}
select,input,button{
    font: inherit;
    padding: 8px;
}
button{
    cursor: pointer;
}
.duration-container{
    display: flex;
    align-items: center;
}
#duration{
    flex-grow: 1;
}
.tost-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1rem;
    left: 1rem;
    gap: 0.5rem;
}
/* .tost + .tost{
    margin-top: 12px;
} */
.tost{
    padding: 0.5rem;
    background-color: #00b300;
    color: white;
    border-radius: 0.25rem;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}
.tost.success::before {
    content: '✓';
}

.tost.error::before {
    content: '✗';
}

.tost.warning::before {
    content: '⚠';
}

.tost.info::before {
    content: 'ⓘ';
}
.tost.success {
    background-color: #009600;
}

.tost.error {
    background-color: #ff0000;
}

.tost.warning {
    background-color: #ec6b03;
}

.tost.info {
    background-color: #4e4e4e;
}
.tost span{
    cursor: pointer;
}

.tost-container.right{
    left: auto;
    right: 1rem;
}
.tost-container.bottom{
    top: auto;
    bottom: 1rem;
}
