

.main-container{
display: flex;
flex-direction: row;
}
.container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid red;
    
}
.product-btn{
    width: 120px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(146, 146, 237);
}
.card-img-product{
    width: 100%;
    height: 200px;
    object-fit: cover;
}