*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px gray;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 14px;
}
.heading{
    font-size: 20px;
}
.btn{
    padding: 10px;
    background-color: rgb(204, 239, 204);
}

input{
    height: 30px;
}
.hide{
    display: none;
}